{% extends "layouts/base.html" %}
{% block page_content %}
{% load crispy_forms_tags %}
<div class="batch-page-container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">all batches</a></li>
      </ol>
    </nav>
    <a href="{% url 'soyuz_app:get_student_list' %}">All Students</a>
  <h4 class="batch-form-title">Add Batch</h4>
  <form class="add-batch-form" action="{% url 'soyuz_app:get_batches' %}" method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="add-batch-actions">
      <button class="submit btn btn-primary">Add Batch</button>
    </div>
  </form>

  <h4>Batch List</h4>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Course</th>
        <th scope="col">Batch Number</th>
        <th scope="col">Start Date</th>
        <th scope="col">Link to Batch Page</th>
      </tr>
    </thead>
    <tbody>
      {% for batch in batches %}
      <tr>
        <td>{{ batch.course.name|title }}</td>
        <td>{{ batch.number }}</td>
        <td>{{ batch.start_date }}</td>
        <td><a class="btn btn-primary" href="{% url 'soyuz_app:get_sections' course_name=batch.course.name batch_number=batch.number %}" role="button">batch
            page</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>

{% endblock %}
