{% extends "layouts/base.html" %}
{% block page_content %}
<div class="batch-page-container">
<ul>
{% for batch in batches %}
    <li class="batch-list-item">
        <span>{{ batch.course.name }}</span>
        <span>{{ batch.number }}, </span>
        <span>Start Date: {{ batch.start_date }}</span>
        <a class="btn btn-primary" href="{% url 'soyuz_app:get_sections' batch_number=batch.number %}" role="button">batch registration</a>
    </li>
{% endfor %}
</ul>
<form class="add-batch-form" action="{% url 'soyuz_app:get_batches' %}" method="POST">
    {% csrf_token %}
    <ul>
        {{ form.as_ul }}
    </ul>
    <div class="add-batch-actions">
        <button class="btn btn-primary">Add Batch</button>
    </div>
</form>
</div>
{% endblock %}
