{% extends "layouts/base.html" %}
{% block page_content %}
{% load crispy_forms_tags %}
<div class="batch-page-container">

  <h4 class="batch-form-title">Add Batch</h4>
  <form class="add-batch-form" action="{% url 'soyuz_app:get_batches' %}" method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="add-batch-actions">
      <button class="submit btn btn-primary">Add Batch</button>
    </div>
  </form>

  <h4>Batch List</h4>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Course</th>
        <th scope="col">Batch Number</th>
        <th scope="col">Start Date</th>
        <th scope="col">Link to Batch Page</th>
      </tr>
    </thead>
    <tbody>
      {% for batch in batches %}
      <tr>
        <td>{{ batch.course.name }}</td>
        <td>{{ batch.number }}</td>
        <td>{{ batch.start_date }}</td>
        <td><a class="btn btn-primary" href="{% url 'soyuz_app:get_sections' batch_id=batch.id %}" role="button">batch
            page</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if users|length > 0 %}
  <h4>Students that do not belong in any batch: </h4>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Email</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Add to Batch</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{{ user.email }}</td>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>
          <form action="/student-admin/add-to-batch" method="POST">
          {% csrf_token %}
            <select name="batch_id" class="section-select">
              <option selected="selected" disabled>--</option>
              {% for batch in batches %}
              <option value="{{ batch.id }}">{{ batch.course.name }} {{ batch.id }}</option>
              {% endfor %}
            </select>
            <input type="hidden" name="user_id" value="{{ user.id }}">
            <button class="btn btn-primary" type="submit" value="Submit"><i class="fas fa-user-plus"></i></button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>

{% endblock %}
