{% extends "layouts/base.html" %}
{% block page_content %}
<div class="registration-form-container">
    <!-- <h1>Title: {{ title }}</h1>
    <ul>
    {% for batch in batches %}
        <li>
            <span>Id: {{ batch.id }}</span>
            <span>Start Date: {{ batch.start_date }}</span>
        </li>
    {% endfor %}
    </ul> -->
        <form class="registration-form" action="{% url 'index' %}" method="POST">
        {% csrf_token %}
        <ul>
        {{ form.as_ul }}
        </ul>
        <div id="registration-actions">
            <button class="btn btn-primary">Register</button>
        </div>
    </form>
</div>
{% endblock %}
