{% extends "layouts/base.html" %}
{% block page_content %}
<div class="section-page-container">
  <h1>{{ title }}: {{ batch.course_id }} {{ batch.number }}</h1>
  <h2>Start Date: {{ batch.start_date }}</h2>
  <form method="POST">
    {% csrf_token %}
    <button class="btn btn-primary" type="submit" name="create_channels" >create channels</button>
  </form>
    {% for section in sections %}
    <div class="section">
    <h3>Section: {{ section.number }}</h3>
    {% for user in section.users %}
    <ul class="user-details">
      <div class="user">
        <li>User ID: {{ user.id }}</li>
        <li>Hubspot ID: {{ user.hubspot_id }}</li>
        <li>Email: {{ user.email }}</li>
      </div>
    </ul>
    {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}
