{% extends "layouts/base.html" %}
{% block page_content %}
<div class="section-page-container">
  <h1>{{ batch.course }} {{ batch.number }}</h1>
  <h2>Start Date: {{ batch.start_date }}</h2>
  <div class="section-container">
    <div class="reassign-form">
    <h4>Reassign Sections</h4>
    <label>Number per section: </label>
    <form action="/student-admin/reassign-sections" method="POST">
      {% csrf_token %}
      <input type="text" name="number_per_section">
      <input type="hidden" name="batch_id" value="{{ batch.id }}">
      <button class="btn btn-primary" type="submit" value="Submit"><i class="fas fa-sync-alt"></i></button>
    </form>
    </div>
    {% for section in sections %}
    {% if section.users|length > 0 %}
    <div class="section">
      <h3>Section: {{ section.number }}</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="first-column" scope="col">Email</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Switch Sections</th>
            <th scope="col">Delete from Section</th>
            <th scope="col">Delete from Batch</th>
          </tr>
        </thead>
        <tbody>
          {% for user in section.users %}
          <tr>
            <th class="first-column" scope="row">{{ user.email }}</th>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>
              <form action="/student-admin/switch-sections" method="POST">
                {% csrf_token %}
                <select name="section_number" class="section-select">
                  <option selected="selected" disabled>--</option>
                  {% for section in sections %}
                  <option value="{{ section.id }}">{{ section.number }}</option>
                  {% endfor %}
                </select>
                  <input type="hidden" name="user_id" value="{{ user.id }}">
                  <input type="hidden" name="batch_id" value="{{ batch.id }}">
                <button class="btn btn-primary" type="submit" value="Submit"><i class="fas fa-sync-alt"></i></button>
              </form>
            </td>
            <td>
              <form action="/student-admin/delete-from-section" method="POST">
                {% csrf_token %}
                  <input type="hidden" name="section_id" value="{{ section.id }}">
                  <input type="hidden" name="user_id" value="{{ user.id }}">
                  <input type="hidden" name="batch_id" value="{{ batch.id }}">
                <button class="btn btn-primary" type="submit"><i class="fas fa-trash-alt"></i></button>
              </form>
            </td>
            <td>
              <form action="/student-admin/delete-from-batch" method="POST">
                {% csrf_token %}
                <input type="hidden" name="section_id" value="{{ section.id }}">
                <input type="hidden" name="user_id" value="{{ user.id }}">
                <input type="hidden" name="batch_id" value="{{ batch.id }}">
                <button class="btn btn-primary" type="submit"><i class="fas fa-trash-alt"></i></button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
  {% endfor %}
  </div>
  {% if users|length > 0 %}
  <h4>Students that don't belong in a section</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="first-column" scope="col">Email</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Add to Section</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <th class="first-column" scope="row">{{ user.email }}</th>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>
          <form action="/student-admin/add-to-section" method="POST">
            {% csrf_token %}
            <select name="section_id" class="section-select">
              <option selected="selected" disabled>--</option>
              {% for section in sections %}
              <option value="{{ section.id }}">{{ section.number }}</option>
              {% endfor %}
            </select>
            <input type="hidden" name="user_id" value="{{ user.id }}">
            <input type="hidden" name="batch_id" value="{{ batch.id }}">
            <button class="btn btn-primary" type="submit" value="Submit"><i class="fas fa-user-plus"></i></button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>
{% endblock %}
