{% extends "layouts/email.html" %}
{% block page_content %}
<h2>Welcome to Rocket Academy!</h2>

<h4>Hi {{user.first_name}},</h4>
<p>
  You have been registered into {{batch.course.name|title }} {{batch.number}}!
</p>

<p>
  <a href="https://join.slack.com/t/rocketacademybasics/shared_invite/zt-174hul8rn-Hl5Tt1NHYZuJGLnhNHbiaA">
    Please remember to register on Slack!
  </a>
</p>

<p>
  **Before the First meeting please ensure that you are prepared!**
</p>
<ul>
  <li>
    Pre-installing all required Software which can be found here: <a
      href="https://basics.rocketacademy.co/course-logistics/required-hardware-and-software/required-software-1">basics.rocketacademy.co/course-logistics/required-hardware-and-software</a>
  </li>
  <li>
    Going through and exploring our Course Methodology and other resources which both can be found here: <a
      href="https://basics.rocketacademy.co">basics.rocketacademy.co</a>
  </li>
</ul>

<h4>
  We look forward to seeing you in class!
</h4>
<br><br>
<p>Sincerely,</p>
<p>Foong</p>
<p>Head, Admissions</p>
{% endblock %}
