.batch-page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  nav,
  a {
    width: 90%;
  }
  .batch-form-title {
    width: 50%;
  }
  .add-batch-form {
    width: 50%;
    margin-bottom: 40px;
  }
  .table {
    width: 80%;
  }
  h1,
  h4 {
    color: $blue;
    padding: 20px 0;
    width: 80%;
    text-align: left;
  }

  .table {
    margin-bottom: 40px;
  }
  .submit {
    margin-top: 10px;
  }
}
