.footer {
  font-size: 1.2rem;
  .container {
    padding: 30px 10px;
  }

  .row {
    margin: 0;
  }

  .svg-icon,
  .icon,
  .mask {
    width: 40px;
    fill: transparent;
  }

  .icon {
    fill: #00567e;
  }

  .footer-column {
    padding-bottom: 20px;
  }

  .footer-heading {
    color: $blue;
    font-weight: 600;
    font-size: 1.3rem;
  }

  .footer-list {
    letter-spacing: 0.7px;
    list-style: none;
    padding-left: 0;
    .footer-list-link {
      color: $secondary;
    }
  }

  .footer-url {
    color: $secondary;
  }

  .footer-icon-list {
    color: $blue;
    display: flex;
  }
}
