.student-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $blue;
  nav {
    width: 90%;
  }
  a {
    width: 90%;
  }
  h4 {
    width: 80%;
    text-align: left;
    margin-top: 40px;
  }
  .table {
    width: 80%;
  }
}
