body,
html,
.registration-form-container {
  height: 100%;
  background-color: $off-white;
  .navbar-brand {
    padding-left: 20px;
    img {
      height: 60px;
      width: 150px;
    }
  }
  .registration-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    ul {
      list-style: none;
      label {
        color: $blue;
        padding-right: 10px;
        font-family: $secondary-font;
      }
      input {
        border-radius: 5px;
        border-width: 0.5px;
      }
    }
    .btn {
      color: white;
    }
  }
}

// batch-page.html
.batch-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $blue;
  .btn {
    color: white;
  }
  h1 {
    padding: 20px 0 10px;
  }
  ul {
    height: 40%;
    padding: 20px 0;
    list-style: none;
    .batch-list-item {
      margin: 10px;
    }
  }
  form {
    height: 50%;
    ul {
      li {
        margin: 15px 0;
        input,
        select {
          border-radius: 5px;
          border-width: 0.5px;
          width: 100%;
        }
      }
    }
    .add-batch-actions {
      display: flex;
      justify-content: flex-end;
    }
  }
}
