<p>Hi {{user.first_name}},</p>
<p>Thank you so much for your enthusiasm in joining {{ batch.course.name.capitalize() }} {{ batch.number }}</p>
<p>However, we regret to inform you that we are unable to offer you a spot in the current batch as we have reached maximum
capacity.</p>
<p> We strictly enforced these capacities to ensure that we are able to provide an environment that facilitates
and encourages student engagement and learning.</p>
<p>More Basics courses will be run in the near future again, and we will send your email confirmations for those dates
closer to those commencement dates.</p>
<p>We sincerely hope to see you in one of our courses soon!</p>
<br>
<p>Sincerely,</p>
<p>Foong</p>
<p>Head, Admissions</p>
