<h2>Welcome to Rocket Academy!</h2>

<h4>Hi {{user.first_name}},</h4>
<p>
  You have been registered into {{batch.course.name}} - {{batch.number}}!
</p>

<p>
  Please join us for the kick-off meeting on {{batch.start_date}} at 4-5pm.
</p>

<p>
  <a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&tmeid=M2xpMnRhMWVmdDFmamVyODM5aWtuMTdzdGYgY19zdWIzaDFvNmplNzdwNXI2aGlxdGEyM3RhZ0Bn&tmsrc=c_sub3h1o6je77p5r6hiqta23tag%40group.calendar.google.com"><img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_en-GB.gif"></a>
</p>


<p>
  **Before the First meeting please ensure that you are prepared!**
</p>
<ul>
  <li>
    Pre-installing all required Software which can be found here: <a href="https://basics.rocketacademy.co/course-logistics/required-hardware-and-software/required-software-1">basics.rocketacademy.co/course-logistics/required-hardware-and-software</a>
  </li>
  <li>
    <a href="https://join.slack.com/t/rocketacademybasics/shared_invite/zt-10igrhvg0-BZDBGCRr1t6HTkNjXEPOkA">
      Join our slack channel and introduce yourself!
    </a>
  </li>
  <li>
    Going through and exploring our Course Methodology and other resources which both can be found here: <a href="https://basics.rocketacademy.co">basics.rocketacademy.co</a>
  </li>
</ul>

<h4>
  We look forward to seeing you in class!
</h4>
