{% extends "layouts/base.html" %}
{% block page_content %}
<div class="centered-container">
  <div class="centered-box">
    <h1>Student Dashboard</h1>
    {% if batch %}
      <p>
      Your upcoming {{batch.course.name}} batch: {{ batch.id }}
      </p>
      <p>
          On: {{ batch.start_date }}
      </p>
      <p>
          Our first meeting is at: 4:00pm!
      </p>
      {% if section %}
        <p>
            Section Number: {{ section.number }}
        </p>
      {% endif %}
    {% endif %}
    <p>
        {{ user.email }}
    </p>
    <a href="{% url 'soyuz_app:logout' %}">Logout</a>
  </div>
</div>
{% endblock %}
