{% extends "layouts/base.html" %}
{% block page_content %}
<div class="centered-container">
  <div class="centered-box">
    {% if not batches %}
      <h1>Student Dashboard</h1>
    {% else %}
      {% for batch in batches %}
          {% include "users/batch-registration.html" with batch=batch.batch section=batch.section user=user %}
      {% endfor %}

    {% endif %}
    <hr/>
    <p>
        {{ user.email }}
    </p>
    <a href="{% url 'soyuz_app:logout' %}">Logout</a>
  </div>
</div>
{% endblock %}
