
<h2>Welcome to Rocket Academy!</h2>

<h4>Hi {{user.first_name}},</h4>
<p>
  You got a spot in {{batch.course.name|title}} - {{batch.number}}!
</p>

<p>
  Our classes will begin on {{ batch.start_date }} from 7:30 pm to 9:30pm
</p>
<p>
  Please let us know if you cannot attend for any reason!
</p>
<p>
  <strong>
    Prior to our first session, please join our Slack Channel using the SAME EMAIL ADDRESS you used to register on our
    website, with this link here.
  </strong>
</p>
<a
  href="https://join.slack.com/t/rocketacademybasics/shared_invite/zt-174hul8rn-Hl5Tt1NHYZuJGLnhNHbiaA">https://join.slack.com/t/rocketacademybasics/shared_invite/zt-174hul8rn-Hl5Tt1NHYZuJGLnhNHbiaA</a>
</p>
<p>
  Further communications with regards to Basics will be shared with you on Slack such as:
</p>
<ul>
  <li>
    Required software and setup
  </li>
  <li>
    Basics Groups
  </li>
  <li>
    Zoom Links to your classroom
  </li>
</ul>

<strong>
  Thank you again for your support with Rocket Academy,
  We look forward to seeing you in class!
</strong>
