{% extends "layouts/base.html" %}
{% block page_content %}
<div class="centered-container">
  <div class="centered-box">
      <h4>Sorry! We have reached maximum capacity!</h4>
      <p>Thank you for your interest in joining in our upcoming basics batch!</p>
      <p>Unfortunately we have currently reached full
      capacity for our upcoming basics batch, and are unable to take on more students for this batch.</p> <p>Don't worry! We will
      send you updates on our upcoming batches where we invite you to signup for!</p>
      <p>If you wish, you can enter your name onto your waiting list <a href="https://forms.gle/sieRkCkQJRfDfnaa7">here.</a></p>
      <p>We may not be able to guarantee you a spot for this batch, but if there is an opening, we will let you know!</p>
      <p>Thank you for your understanding!</p>
  </div>
</div>
{% endblock %}
