{% extends "layouts/base.html" %}
{% block page_content %}
{% load crispy_forms_tags %}

<div class="centered-container">
  <div class="centered-box">
      <h4>Sorry! We have reached maximum capacity!</h4>
      <p>
        Thank you for your interest in joining {{ batch.course.name|title }} {{ batch.number }} which starts on {{ batch.start_date }}!
      </p>
      <p>
        Unfortunately we have reached full
        capacity for {{ batch.course.name|title }} {{ batch.number }}, and are unable to take on more students.
      </p>
      <p>
        Don't worry! We will
        send you updates on our upcoming batches where we invite you to signup for them!
      </p>
      <p>
        If you wish, you can sign up for this batch's waiting list, by filling in the following form:
      </p>
      <div class="waiting-list-form-container">
        <h6>Email: {{email}}</h6>
        {% if form.errors and 'email' in form.errors %}
        <div class="alert alert-primary" role="alert">
          {{ form.errors }}
        </div>
        {% endif %}
        <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <p>
            <button class="btn btn-primary" type="submit">Sign up!</button>
          </p>
        </form>
      </div>
      <p>We may not be able to guarantee you a spot for this batch, but if there is an opening, we will let you know!</p>
      <p>Thank you for your kind understanding!</p>
  </div>
</div>
{% endblock %}
