{% extends "layouts/base.html" %}
{% block page_content %}
{% load crispy_forms_tags %}
<div class="centered-container">
  <div class="centered-box">
    <div class="container login">
      {% if validlink %}

      <h1>Set a new password!</h1>
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Change my password">
      </form>

      {% else %}

      <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
      </p>

      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
