{% extends "layouts/base.html" %}
{% block page_content %}
{% load crispy_forms_tags %}
<div class="centered-container">
  <div class="centered-box">
    <div class="container login">
      <h1>Reset Password</h1>
      <div class="login-form-container">
        <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <button class="btn btn-primary reset-btn" type="submit">Reset Password</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
