{% extends "layouts/base.html" %}
{% block page_content %}
{% load crispy_forms_tags %}
<div class="centered-container">
  <div class="centered-box">
    <h2>Student Registration</h2>
    <h2>{{batch.course.name}} - Batch {{batch.number}}</h2>
    <div class="signup-form-container">
        <h6>Email: {{email}}</h6>
        {% if form.errors and 'email' in form.errors %}
          <div class="alert alert-primary" role="alert">
          {{ form.errors }}
          </div>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <p>
              <button class="btn btn-primary" type="submit">Register</button>
            </p>
        </form>
    </div>
  </div>
</div>
{% endblock %}
