@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Raleway:wght@100;200;400;600&display=swap");
body,
html,
.registration-form-container {
  height: 100%;
  background-color: #f9f6e7; }
  body .navbar-brand,
  html .navbar-brand,
  .registration-form-container .navbar-brand {
    padding-left: 20px; }
    body .navbar-brand img,
    html .navbar-brand img,
    .registration-form-container .navbar-brand img {
      height: 60px;
      width: 150px; }
  body .registration-form,
  html .registration-form,
  .registration-form-container .registration-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; }
    body .registration-form ul,
    html .registration-form ul,
    .registration-form-container .registration-form ul {
      list-style: none; }
      body .registration-form ul label,
      html .registration-form ul label,
      .registration-form-container .registration-form ul label {
        color: #00567e;
        padding-right: 10px;
        font-family: "Open Sans", sans-serif; }
      body .registration-form ul input,
      html .registration-form ul input,
      .registration-form-container .registration-form ul input {
        border-radius: 5px;
        border-width: 0.5px; }

.btn {
  color: white; }

.batch-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #00567e; }
  .batch-page-container h1 {
    padding: 20px 0 10px; }
  .batch-page-container .user {
    border: 3px solid lightgray; }
  .batch-page-container ul {
    height: 40%;
    padding: 20px 0;
    list-style: none; }
    .batch-page-container ul .batch-list-item {
      margin: 10px; }
  .batch-page-container form {
    height: 50%; }
    .batch-page-container form ul li {
      margin: 15px 0; }
      .batch-page-container form ul li input,
      .batch-page-container form ul li select {
        border-radius: 5px;
        border-width: 0.5px;
        width: 100%; }
    .batch-page-container form .add-batch-actions {
      display: flex;
      justify-content: flex-end; }

.signup h1,
.login h1 {
  padding: 30px 0;
  color: #00567e;
  font: "Raleway", sans-serif; }

.signup form,
.login form {
  color: #00567e;
  width: 70%; }
  .signup form input,
  .login form input {
    margin-bottom: 20px; }

.signup .btn,
.login .btn {
  margin-top: 20px; }

.signup li,
.signup small,
.login li,
.login small {
  color: #00567e !important; }

.login h1 {
  padding: 30px 0;
  color: #00567e;
  font: "Raleway", sans-serif; }

.login .login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 30px 0; }
  .login .login-form-container form {
    color: #00567e; }
    .login .login-form-container form input {
      margin-bottom: 20px; }
  .login .login-form-container .btn {
    margin-top: 20px; }
  .login .login-form-container li,
  .login .login-form-container small {
    color: #00567e !important; }
